.application-container {
  margin: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.application-container,
.application-skeleton {
  height: 80px;
  max-width: 500px;
}

.application-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rejected {
  background-color: red;
  opacity: 0.5;
}

.no-response {
  opacity: 0.5;
}

.application-text-container {
  margin-left: 0.3rem;
}
