.application-container {
  margin: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 128px;
}

.application-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
